@use "../utils/variables" as v;

$app-color: #8EDCE6;
$app-color-darken: #80c4cd;
$app-color-darker: #71aeb6;
$color-text-primary: #ffffff;
$color-text-default: #d2d2d2e6;
$color-text-dark: #d0d0d0cc;
$color-darker: #101010;
$color-dark: #222222;
$color-default: #282828;
$color-light: #323232;
$color-lighter: #5e5e5e;
$color-more-lighter: #707070;
$color-bright: #EDF2F4;

$font-x-small: 0.625em;
$font-small: 0.812em;
$font-medium: 1em;
$font-large: 1.125em;
$font-x-large: 1.5em;
$font-xx-large: 2em;

#root {
  margin: 0 auto;
  text-align: center;

  font-family: 'Verdana', sans-serif;

  display: flex;
  flex-direction: column;
  height: 100%;

  color: $color-text-default;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  user-select: none;    /* To disable mouse dragging selection */
}

.container {
  display: flex;
  flex: 1;
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  pointer-events: auto;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.overlay.visible {
  opacity: 1;
}

/* LEFT PANEL */
.left-panel {
  min-width: 16em;
  display: flex;
  flex-direction: column;
  padding: 10px 15px 10px 20px;
  overflow-y: hidden;
  margin: 0 8px 8px 0;
  height: 100%;
  z-index: 10;
}

/* LEFT PANEL CONTROLS */
.top-controls {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-controls button {
  margin-right: 5px;
}

.svg-button-desktop-controls{
  background-color: transparent;
  border-color: transparent;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.svg-button-desktop-controls:hover{
  background-color: rgba(0, 0, 0, 0.739);
}

.svg-button-desktop-controls svg{
  width: 26px;
  height: 26px;
}

.svg-add-library-btn {
  background-color: transparent;
  border-color: transparent;
  border-radius: 5px;
  padding: 10px 15px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.svg-add-library-btn:hover{
  background-color:rgba(0, 0, 0, 0.739);
}

.svg-add-library-btn svg{
  width: 16px;
  height: 16px;
}

.svg-add-library-btn span{
  color: $color-text-primary;
  margin-left: 10px;
}

/* AUXILIAR CLASSES */
.center-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-corner-align {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.right-corner-align {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.dropdown {
  min-width: min-content;
  position: relative;
  margin-bottom: 10px;
  height: 25px;
  width: fit-content;

  * {
      box-sizing: border-box;
  }

  .select-plain {
      font-size: small;
      padding: 0.4em;
      color: $color-text-primary;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: fit-content;
      filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
  }

  .select {
      font-size: small;
      padding: 0.4em;
      color: $color-text-default;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: color 0.3s;
      width: fit-content;
      filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));

      .arrow {
          margin-left: 0.8em;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 6px solid $color-text-default;
          transition: 0.3s;
      }
  
      .arrow-rotate {
          transform: rotate(180deg);
      }
  }

  .select:hover {
      color: $color-text-primary;

      .arrow {
          border-top: 6px solid $color-text-primary;
      }
  }

  .menu {
    list-style: none;
    padding: 0.5em 0em;
    background: #101010;
    box-shadow: 0 0 8px 1px black;
    color: $color-text-default;
    position: fixed;
    width: max-content;
    margin-top: 0.5em;
    opacity: 0;
    pointer-events: none;
    transition: opacity .15s linear;
    border-radius: 5px;
    z-index: 10;
  
    li {
      display: flex;
      font-size: small;
      background-color: transparent;
      text-align: left;
      padding: 0.3em 0.8em;
      cursor: pointer;

      span {
        margin-right: 1em;
      }

      svg {
        margin-right: 1em;
      }
  
      img {
        margin-right: 1em;
      }
    }
  
    li:hover {
      background-color: #4e4e4e58;
      color: $color-text-primary;
    }
  
    .active {
      color: $app-color;
    }
  }
  
  .menu-open {
    pointer-events: auto;
    opacity: 1;
  }
}

.dropdown-menu {
  list-style: none;
  background: #101010;
  box-shadow: 0 0 8px 1px black;
  width: fit-content;
  margin: 1.3em 0;
  opacity: 1;
  transition: opacity .15s linear;
  border-radius: 5px;
  z-index: 10;
  border: none;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em 0;
  }

  li {
    font-size: small;
    background-color: transparent;
    text-align: left;
    cursor: pointer;

    svg {
      margin-right: 1em;
    }

    img {
      margin-right: 1em;
    }

    a {
      appearance: none;
      color: $color-text-default;
      text-decoration: none;
    }
  }

  li:hover {
    a {
      color: $color-text-primary;
    }
  }

  .active {
    a {
      color: $app-color;
    }
  }
}

.dropdown-menu-open {
  opacity: 1;
}

.dialog {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s linear;

  width: 100%;
  height: 100%;
  z-index: 100;

  .dialog-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000077;
    z-index: 0;
  }

  .dialog-box {
    z-index: 1;
    position: relative;

    border-radius: 5px;
    box-shadow: 0 0 8px 1px black;

    width: 820px;
    max-width: 820px;

    background-color: $color-darker;

    .dialog-top {
      background-color: $color-default;

      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      
      padding: 0.8em;
      border-bottom: 1px solid rgba(0, 0, 0, 0.45);

      span {
        margin-left: 0.5em;
        margin-right: 1em;
        font-size: x-large;

        overflow: hidden !important;
        text-overflow: ellipsis;
        white-space: nowrap !important;
        width: 90%;
      }
    }
    
    .dialog-center {
      display: flex;
      flex-flow: row nowrap;

      .dialog-center-left {
        display: flex;
        flex-flow: column nowrap;
      }

      .dialog-center-right {
        background-color: $color-dark;
        padding: 1em 2em 2em 2em;

        display: flex;
        flex-flow: column nowrap;
        overflow-y: auto;

        width: 100%;
        height: 450px;

        text-align: left;

        .dialog-library-type-box{
          display: flex;

          .dialog-library-btn {
            background-color: transparent;
            border: none;

            cursor: pointer;
  
            padding: 1em 2.5em 1em 2.5em;
            border-radius: 3px;
  
            display: flex;
            flex-flow: column wrap;
            align-items: center;

            transition: background-color .15s ease;
  
            span {
              color:$color-text-default;
              padding-top: 0.8em;
              font-size: small;
              font-weight: bold;
            }
  
            svg {
              width: 4em;
              height: 4em;

              path {
                fill:$color-text-default;
              }
            }
          }
  
          .dialog-library-btn:hover {
            background-color: $color-light;

            span {
              color:$color-text-primary;
            }

            svg path {
              fill:$color-text-primary;
            }
          }

          .dialog-library-btn-active {
            pointer-events: none;
            span {
              color:$app-color;
            }
  
            svg path {
              fill:$app-color;
            }
          }

          .dialog-library-btn-disabled {
            pointer-events: none;
            opacity: 0.4;
          }
        }

        .dialog-horizontal-box{
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;

          #seasonBackgroundImage {
            width: 60%;
          }

          .media-input {
            display: flex;
            flex-flow: row nowrap;

            margin-bottom: 0.8em;
          }

          .dialog-background-buttons {
            display: flex;
            flex-flow: column nowrap;
          }
          
          .dialog-background-buttons > * {
            margin-bottom: 0.5em;
          }

          button {
            padding: 0.7em;
          }
        }

        .dialog-horizontal-box > * {
          margin-right: 1em;
        }
        
        .align-center {
          align-items: center;
        }

        .dialog-input-box {
          display: flex;
          flex-flow: column wrap;
          width: 100%;

          .check-text {
            margin-left: 0.5em;
          }

          .info-text {
            margin-top: 0.4em;
            color: $color-more-lighter;
          }

          span {
            font-size: small;
            margin-bottom: 0.6em;
          }

          input, textarea {
            padding: 1em 1.3em 1em 1.3em;
            background-color: $color-lighter;
            border: none;
            outline: none;
            border-radius: 3px;

            font-size: small;
            font-family: sans-serif;

            color: $color-text-primary;

            transition: background-color .15s ease;
          }

          input::placeholder {
            color: $color-text-default;
          }

          input:focus {
            background-color: $color-bright;
            color: black;
          }

          textarea:focus {
            background-color: $color-bright;
            color: black;
          }

          .dialog-input-lock {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            a {
              height: 100%;
              width: 2.5em;
              min-width: 40px;
              background-color: $color-light;

              border-radius: 5px 0 0 5px;
              
              display: flex;
              justify-content: center;
              align-items: center;

              svg {
                width: 20px;
                height: 20px;

                path {
                  fill: $color-darker;
                  transition: fill .15s ease;
                }
              }
            }

            a:hover {
              svg path{
                fill: $color-text-default;
              }
            }

            input, textarea {
              border-radius: 0 5px 5px 0;
              width: 100%;
            }
          }

          .dialog-input-lock.locked {
            a {
              background-color: $app-color;

              svg path{
                fill: $color-darker;
              }
            }
          }
        }

        .add-folder-btn {
          width: fit-content;
          align-self: center;
        }

        .folder-list {
          list-style-type: none;
          li {
            background-color: $color-lighter;
            padding: 0.6em 1.3em 0.6em 1.3em;

            margin-bottom: 0.8em;
            border-radius: 5px;
            color: $color-text-primary;

            display: flex;
            justify-content: space-between;
          }

          li:hover {
            background-color: $color-lighter;
          }
        }

        .dialog-images-scroll {
          display: flex;
          flex-flow: row wrap;

          .dialog-image-btn {
            border: 3px solid transparent;
            margin: 10px;

            position: relative;

            display: flex;
            justify-content: flex-end;
            cursor: pointer;

            .triangle-tick {
              display: block;
              position: absolute;
              border-color: $app-color $app-color transparent transparent;
              border-style: solid;
              border-width: 0 3rem 3rem 0;
            }
  
            svg {
              position: absolute;
              top: .1rem;
              right: .1rem;
              padding: 0.1em;

              path {
                fill: $color-dark;
              }
            }
          }

          .dialog-image-btn:hover {
            border: 3px solid $app-color-darker;
          }

          .dialog-image-btn-active {
            border: 3px solid $app-color;
          }

          .dialog-image-btn-active:hover {
            border: 3px solid $app-color;
          }

          
        }

        .left-media-info, .right-media-info {

          div {
            margin-top: 0.2em;
          }

          .separator {
            margin-bottom: 1.2em;
          }

          #media-info-title {
            font-size: large;
            font-weight: bold;
          }

          #media-info-key {
            font-size: medium;
            color: rgb(115, 115, 115);
            margin-right: 1em;
          }

          #media-info-value {
            font-size: medium;
            font-weight: bold;
            color: $color-text-primary;
            opacity: 0.85;
          }
        }
      }

      .dialog-center-right > * {
        margin: 0.7em 0;
      }
    }

    .dialog-bottom {
      background-color: $color-default;
      padding: 1em;

      display: flex;
      justify-content: flex-end;
      align-items: center;
      
      padding-right: 0.6em;
      border-top: 1px solid rgba(0, 0, 0, 0.45);
    }
  }

  .desktop-dialog-side-btn {
    font-size: medium;
    color: $color-text-default;
    background-color: transparent;
    border: none;

    text-align: left;
    transition: background-color .15s ease;

    padding: 0.8em 1em 0.8em 1em;

    cursor: pointer;
  }

  .desktop-dialog-side-btn:hover {
    color: $color-text-primary;
    background-color: $color-default;
  }

  .desktop-dialog-side-btn-active {
    font-size: medium;
    color: $app-color;

    cursor: pointer;
  }
  
  .desktop-dialog-side-btn-active:hover {
    color: $color-text-primary;
  }

  .desktop-dialog-btn {
    margin-right: 0.6em;

    padding: 1em 1.3em 1em 1.3em;

    border: none;
    border-radius: 3px;

    transition: background-color .3s ease;

    font-size: small;
    font-weight: bold;
    color:$color-text-primary;
    background-color: $color-lighter;

    cursor: pointer;
  }

  .desktop-dialog-btn:hover {
    background-color: $color-more-lighter;
  }

  .btn-app-color {
    margin-right: 0.6em;

    padding: 1em 1.3em 1em 1.3em;

    border: none;
    border-radius: 3px;

    transition: background-color .3s ease;

    font-size: small;
    font-weight: bold;
    color:$color-text-primary;
    background-color: $app-color-darker;

    cursor: pointer;
  }

  .btn-app-color:hover {
    background-color: $app-color;
    color: $color-dark;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .close-window-btn {
    background-color: transparent;
    border: none;
    opacity: 0.8;
    transition: opacity .15s ease;
    cursor: pointer;
  }

  .close-window-btn:hover {
    opacity: 1;
  }
}

.dialog-active {
  opacity: 1;
  pointer-events: auto;
}

.horizontal-center-align {
  display: flex;
  justify-content: center;

  input {
    margin-right: 0.7em;
  }
}

/* Text Clamp */
.clamp-text {
  box-sizing: border-box;

  --line-clamp-amount: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  text-overflow: ellipsis;
  line-clamp: var(--line-clamp-amount);
  -webkit-line-clamp: var(--line-clamp-amount);

  transition: max-height .4s ease;
  max-height: calc(2.5em * var(--line-clamp-amount));
}

.clamp-text.open {
  line-clamp: initial;
  -webkit-line-clamp: initial;
  max-height: 100%;
}

.clamp-text-action,
.clamp-text-less,
.clamp-text-action.open .clamp-text-more {
  display: none;
  transition: .4s ease;

  margin-top: 0.5em;
  padding: 0;

  width: fit-content;

  background-color: transparent;
  border: none;
  color:$app-color;
  cursor: pointer;

  font-size: small;
  font-weight: bold;

  span {
    display: flex;
    flex-flow: row nowrap;
  }

  svg {
    margin-left: 0.2em;
  }

  svg path{
    fill: $app-color;
  }
}

.clamp-text-action:hover {
  color: $color-text-primary;

  svg path{
    fill: $color-text-primary;
  }
}

.clamp-text-less:hover {
  color: $color-text-primary;

  svg path{
    fill: $color-text-primary;
  }
}

.clamped + .clamp-text-action {
  display: inline-block;
}

.clamp-text-action.open .clamp-text-less {
  display: inline;
}

.rti--container * {
  box-sizing: border-box;
  transition: all 0.2s ease;
}

/* Tags Input Styles */
.rti--container {
  background: $color-lighter !important;
  border: none !important;
  border-radius: 0 3px 3px 0 !important;
  display: flex !important;
  flex-flow: row wrap !important;
  align-items: baseline !important;
  gap: 0.3em !important;
  padding: 0.5em !important;
  outline: none !important;
  
  .rti--input {
    line-height: normal !important;
    width: fit-content !important;
    color: $color-text-primary !important;
  }

  .rti--input:focus-within {
    background: none !important;
    color: $color-text-primary !important;
  }
  
  .rti--tag {
    display: flex !important;
    flex-direction: row-reverse !important;
    align-items: baseline !important;
    background: $color-default !important;
    border-radius: 4px !important;
    padding: 0.4em 0.8em 0.4em 0 !important;

    margin: 0 !important;
    
    height: 2.3em !important;
  
    span {
      margin-top: 0.1em !important;
      color: $color-text-primary !important;
    }
  }
  
  .rti--tag button {
    color: $color-text-default !important;
    background: none !important;
  }
  
  .rti--tag button:hover {
    color: $color-text-primary !important;
  }
}

.rti--container:focus-within {
  border-color: transparent !important;
  box-shadow: none !important;
}


.p-confirm-dialog {
  .p-dialog-header {
    background-color: $color-darker;
  }
  
  .p-dialog-content {
    background-color: $color-darker;
    padding: 1.5em 2em;
  }

  .p-dialog-footer {
    padding-top: 1em;
    background-color: $color-darker;

    .p-button {
      background-color: $color-light;
      color: rgb(255, 255, 255);
      opacity: 0.9;
    }

    .p-button:hover {
      opacity: 1;
    }

    .p-button-danger {
      background-color: #e10000;
      border: 1px solid #e10000;
    }
  }

}

.select-input {
  width: fit-content;
  padding: 0.5em 0.2em;            
}

@media (max-width: 720px) {
  .svg-add-library-btn {
    padding: .7em;
    span{
      display: none;
    }
  }

  .left-panel {
    min-width: 7em;
    width: 6em;
  }
}