@use "../utils/variables" as v;

$app-color: #8EDCE6;
$app-color-darken: #80c4cd;
$app-color-darker: #71aeb6;
$color-text-primary: #ffffff;
$color-text-default: #d2d2d2e6;
$color-text-dark: #d0d0d0cc;
$color-darker: #101010;
$color-dark: #222222;
$color-default: #282828;
$color-light: #323232;
$color-lighter: #5e5e5e;
$color-more-lighter: #707070;
$color-bright: #EDF2F4;

$font-x-small: 0.625em;
$font-small: 0.812em;
$font-medium: 1em;
$font-large: 1.125em;
$font-x-large: 1.5em;
$font-xx-large: 2em;

#root {
  margin: 0 auto;
  text-align: center;

  font-family: 'Verdana', sans-serif;

  display: flex;
  flex-direction: column;
  height: 100%;

  color: $color-text-default;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  user-select: none;    /* To disable mouse dragging selection */
}

.container {
  display: flex;
  flex: 1;
  height: 100%;
}

.no-libraries-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.no-libraries-container h2{
  margin-bottom: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  pointer-events: auto;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.overlay.visible {
  opacity: 1;
}

/* LEFT PANEL */
.left-panel {
  min-width: 16em;
  display: flex;
  flex-direction: column;
  padding: 10px 15px 10px 20px;
  overflow-y: hidden;
  margin: 0 8px 8px 0;
  height: 100%;
  z-index: 10;
}

/* LEFT PANEL CONTROLS */
.top-controls {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-controls button {
  margin-right: 5px;
}

.svg-button-desktop-controls{
  background-color: transparent;
  border-color: transparent;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.svg-button-desktop-controls:hover{
  background-color: rgba(0, 0, 0, 0.739);
}

.svg-button-desktop-controls svg{
  width: 26px;
  height: 26px;
}

.svg-add-library-btn {
  background-color: transparent;
  border-color: transparent;
  border-radius: 5px;
  padding: 10px 15px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.svg-add-library-btn:hover{
  background-color:rgba(0, 0, 0, 0.739);
}

.svg-add-library-btn svg{
  width: 16px;
  height: 16px;
}

.svg-add-library-btn span{
  color: $color-text-primary;
  margin-left: 10px;
}

/* LIBRARIES LIST */
.libraries-list {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #0000005b;
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .libraries-button {
    background-color: transparent;
    padding: 0.3em;
    margin-bottom: 0.2em;
    text-align: left;
    border: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;

    #libraries-button-svg {
      min-width: 2.2em;
      min-width: 2.2em;
      max-width: 2.2em;
      max-height: 2.2em;
      width: 2.2em;
      height: 2.2em;

      path {
        fill: $color-text-default;
        transition: fill 0.3s;
      }
    }

    .inactive-btn {
      display: none;
    }
  
    .active-btn {
      display: block;
    }
  }
  
  .libraries-button.selected #libraries-button-svg path {
    fill: $app-color;
  }
  
  .library-name {
    color: $color-text-default;
    margin-left: 0.6em;
    transition: color 0.3s ease;

    width: 100%;
  
    font-size: medium;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    max-width: 100%;
  }
  
  .libraries-button.selected .library-name {
    color: $app-color;
  }
  
  .libraries-button:hover {
    a {
      display: block;
    }

    .library-name {
      color: $color-text-primary;
    }

    #libraries-button-svg path{
      fill: $color-text-primary;
    }
  }
  
  .libraries-button span:hover{
    color: $color-text-primary;
  }
}

/* RIGHT PANEL */
.right-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 10;
  height: 100%;
}

/* LIBRARY AND SLICER BAR */
.library-slicer-bar{
  background-color: #0000009a;
  z-index: 1;
  position: fixed;
  padding: 10px;
  margin-top: 80px;
  margin-left: 50px;
  margin-bottom: 40px;

  border-radius: 5px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
}

.library-button{
  font-size: medium;
  border: none;
  background-color: transparent;
  color: $color-text-default;
  cursor: pointer;

  span {
    transition: 0.3s ease;
  }

  &:hover{
    color: $color-text-primary;
  }
}

.svg-button-desktop-transparent{
  background-color: transparent;
  border: none;

  path{
    opacity: 0.8;
    transition: opacity .15s ease;
  }

  img {
    opacity: 0.8;
    transition: opacity .15s ease;
  }
}

.svg-button-desktop-transparent:hover{
  path{
    opacity: 1;
  }

  img {
    opacity: 1;
  }
}

.svg-button-desktop-transparent:hover {
  cursor: pointer;
}

.desktopSlider {
  margin-left: 20px;
  margin-right: 10px;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 80px;
  height: 3px;
  border-radius: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.desktopSlider:hover {
  opacity: 1;
}

.desktopSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: $color-text-primary;
  cursor: pointer;
}

.loading-element-hover {
  position: absolute;
  background-color: #00000092;

  border: 2px solid transparent;
  border-radius: 5px;

  display: none;
  justify-content: center;
  align-items: center;

  .spinner {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid $app-color;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
}

.loading-visible {
  display: flex;
}

/* MAIN VIEW CONTAINER */
.home-view-container{
  margin: 10em 260px 0 40px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: fit-content;

  text-align: left;

  .horizontal-scroll-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #section-title {
      margin-left: 0.5em;
      font-size: larger;
      font-weight: bold;
    }

    .scroll-btns {
      margin-right: 2em;
      opacity: 0;
      pointer-events: none;
      .svg-button {
        background-color: transparent;
        border-radius: 5px;
        border-color: transparent;
        padding: 15px;
        cursor: pointer;
    
        border: 1px solid transparent;
        background-color: #00000003;
    
        border-radius: 50px;
        color:white;
        
        transition: opacity 0.3s ease-in-out;
    
        svg, img {
          opacity: 0.7;
        }
      }
    
      .svg-button:hover{
        svg, img {
          opacity: 1;
        }
      }
    }

    .visible {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .container {
    max-width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth;

    margin-bottom: 1.5em;
  }
}

/* SERIES CONTAINER */
.series-container{
  margin: 160px 0 0 40px;
  padding: 0 40px 40px 0;
  display: flex;
  flex-flow: row wrap;
  overflow-y: auto;
}

#seriesName {
  margin: 8px 0 2px 4px;
  color: $color-text-primary;
  position: relative;
  display: inline-block;
  width: fit-content;

  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  max-width: 100%;
}

#seriesName:hover{
  cursor: pointer;
}

#seriesName::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.2s ease;
}

#seriesName:hover::after {
  width: 100%;
}

.logo-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  text-align: left;
  margin-left: 30px;
  height: 200px;
}

.logo-container img{
  max-height: 200px;
  max-width: 700px;
  width: min-content;
}

/* SEASON INFO */
.season-episodes-container{
  background-color: #0000005b;
  padding: 220px 20px 20px 10px;
  overflow-y: auto;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.poster-image {
  display: flex;
  flex-flow: column wrap;
}

.continue-watching-info {
  background-color: #0000006c;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
}

.continue-watching-info span {
  font-size: small;
}

.show-poster-button {
  border-color: transparent;
  background-color: #0000006c;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
}

.show-poster-button:hover {
  background-color: black;

  span {
    color: $color-text-primary;
  }
}

.show-poster-button span {
  font-size: small;
  color: $color-text-default;
}

.info-container{
  padding: 30px;
  display: flex;
  flex-flow: row nowrap;
}

.season-info{
  margin-left: 50px;
  display: flex;
  flex-flow: column wrap;
  text-align: left;
}

#seriesTitle{
  color: $color-text-primary;
  font-size: 3.5em;
  font-weight: bold;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.628));
}

#seasonTitle{
  color: $color-text-primary;
  font-size: 2em;
  font-weight: bold;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.628));
}

.season-info-text{
  display: flex;
  flex-flow: column wrap;
}

.season-info-text span{
  font-size: medium;
  color: $color-bright;
}

#directedBy{
  font-size: small;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.779));
}

#date{
  margin-top: 10px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.779));
}

#genres {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.779));
}

.rating-info{
  margin-top: 5px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: row nowrap;
}

.rating-info img{
  width: 40px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.779));
}

.rating-info span{
  color: $color-bright;
  font-weight: bold;
  margin-left: 5px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.779));
}

.season-info-buttons-container{
  display: flex;
  flex-flow: row wrap;
}

.overview-container{
  max-width: 700px;
  margin-top: 1em;
  color: $color-bright;
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));
}

/* SEASON INFO BUTTONS */
.play-button-desktop {
  background-color: $app-color-darken;
  padding: 10px 15px;
  border-radius: 5px;
  border-color: transparent;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play-button-desktop:hover {
  background-color: $app-color;
}

.play-button-desktop svg {
  width: 24px;
  height: 24px;
}

.play-button-desktop #playText {
  margin-left: 10px;
}

.svg-button-desktop{
  background-color: transparent;
  border-radius: 5px;
  border-color: transparent;
  padding: 5px 12px 5px 12px;
  margin-left: 10px;
  cursor: pointer;
}

.svg-button-desktop:hover{
  background-color: rgba(0, 0, 0, 0.739);
}

.svg-button-desktop svg{
  width: 24px;
  height: 24px;
}

/* SEASON SELECTOR */
.season-selector {
  font-size: medium;
  color: &$color-text-primary;
  border-bottom: 1px solid $color-text-default;
}

.season-selector:hover {
  color: $color-text-primary;
  border-bottom: 1px solid $color-text-primary;
}

#triangle{
  margin-left: 5px;
  transform: scale(0.9, 0.6);
}

/* EPISODES CONTAINER */
.episodes-container{
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.episode-box{
  margin: 10px;
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  position: relative;

  .video-button-image-section {
    .video-button-hover {
      position: absolute;
      background-color: #00000092;
  
      border: 2px solid transparent;
      border-radius: 5px;
  
      display:  none;
      flex-flow: column nowrap;
  
      .series-selection-div {
        width: 100%;
        height: 100%;
      }
  
      .bottom-btns {
        display: flex;
        justify-content: space-between;
        margin: 0 0.3em 0.3em 0.3em;
      }
    }
  
    .video-button-hover:hover {
      border-color: $app-color;
      transition: border-color 0.3s ease-in;
    }

    .video-button{
      cursor: pointer;
      border: none;
      background-color: transparent;
      border-radius: 5px;

      img {
        border-radius: 5px;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.414);
      }
    }
  }
  
  .video-button-image-section:hover {

    .video-button-hover {
      display: flex;
    }
  }

  .play-button-episode {
    background-color: rgba(0, 0, 0, 0.588);
    border: 2px solid white;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    padding: 15px;
    transition: backgound-color 0.3s ease-in-out;
  }

  .play-button-episode:hover {
    background-color: $app-color;
    border-color: $app-color;
    cursor: pointer;
  }

  .play-button-episode svg {
    width: 32px;
    height: 32px;
  }

  .play-button-episode svg path{
    fill: $color-text-primary;
    transition: fill 0.2s ease-in-out;
  }

  .play-button-episode:hover svg path{
    fill: rgb(38, 38, 38);
  }
}

.episode-box #episodeName{
  margin-top: 10px;
  margin-left: 0.3em;
  font-size: medium;
  color: $color-text-primary;

  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  max-width: 100%;
}

.episode-box #episodeNumber{
  margin-left: 0.3em;
  font-size: small;
  color: rgb(184, 184, 184);
}

/* IMAGES */
.gradient-background {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 0;

  filter: brightness(0.25);
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Set the image at the back */
}

.background-image img {
  width: 100%;
  height: auto; /* To keep aspect ratio */
  opacity: 0;
  transition: opacity 0.5s ease-in;
  mask-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
  filter: brightness(0.8);
}

.background-image img.imageLoaded {
  opacity: 1;
}

.main-background {
  filter: brightness(0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.main-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.main-background img.loaded {
  opacity: 1;
}

.noise-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.noise-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.02;
}

.blur-background-image {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #101010;
}

.poster-image img {
  width: 250px;
  height: 375px;
  border-radius: 7px 7px 0px 0px;
}

.round-image img{
  border-radius: 7px;
}

/* SCROLL DESIGN */
.scroll{
  overflow: auto;
  position: relative;
  box-sizing: content-box;
}

.scroll::-webkit-scrollbar {
  width: 0.7em;
}

.scroll::-webkit-scrollbar-track {
  background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgb(59, 59, 59);
  border-radius: 20px;
  background-clip: content-box;
  width: 0.5em;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgb(126, 126, 126);
  width: 0.7em;
}

.scroll::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

/* AUXILIAR CLASSES */
.center-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-corner-align {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.right-corner-align {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.dropdown {
  min-width: min-content;
  position: relative;
  margin-bottom: 10px;
  height: 25px;
  width: fit-content;

  * {
      box-sizing: border-box;
  }

  .select-plain {
      font-size: small;
      padding: 0.4em;
      color: $color-text-primary;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: fit-content;
      filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
  }

  .select {
      font-size: small;
      padding: 0.4em;
      color: $color-text-default;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: color 0.3s;
      width: fit-content;
      filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));

      .arrow {
          margin-left: 0.8em;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 6px solid $color-text-default;
          transition: 0.3s;
      }
  
      .arrow-rotate {
          transform: rotate(180deg);
      }
  }

  .select:hover {
      color: $color-text-primary;

      .arrow {
          border-top: 6px solid $color-text-primary;
      }
  }

  .menu {
    list-style: none;
    padding: 0.5em 0em;
    background: #101010;
    box-shadow: 0 0 8px 1px black;
    color: $color-text-default;
    position: fixed;
    width: max-content;
    margin-top: 0.5em;
    opacity: 0;
    pointer-events: none;
    transition: opacity .15s linear;
    border-radius: 5px;
    z-index: 10;
  
    li {
      display: flex;
      font-size: small;
      background-color: transparent;
      text-align: left;
      padding: 0.3em 0.8em;
      cursor: pointer;

      span {
        margin-right: 1em;
      }

      svg {
        margin-right: 1em;
      }
  
      img {
        margin-right: 1em;
      }
    }
  
    li:hover {
      background-color: #4e4e4e58;
      color: $color-text-primary;
    }
  
    .active {
      color: $app-color;
    }
  }
  
  .menu-open {
    pointer-events: auto;
    opacity: 1;
  }
}

.dropdown-menu {
  list-style: none;
  background: #101010;
  box-shadow: 0 0 8px 1px black;
  width: fit-content;
  margin: 1.3em 0;
  opacity: 1;
  transition: opacity .15s linear;
  border-radius: 5px;
  z-index: 10;
  border: none;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em 0;
  }

  li {
    font-size: small;
    background-color: transparent;
    text-align: left;
    cursor: pointer;

    svg {
      margin-right: 1em;
    }

    img {
      margin-right: 1em;
    }

    a {
      appearance: none;
      color: $color-text-default;
      text-decoration: none;
    }
  }

  li:hover {
    a {
      color: $color-text-primary;
    }
  }

  .active {
    a {
      color: $app-color;
    }
  }
}

.dropdown-menu-open {
  opacity: 1;
}

.slider {
  width: 100%;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 4px;
  border-radius: 25px;
  background-color: #646464;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: background-color .3s;

  .slider:hover {
    background-color: #dedede;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: $color-text-primary;
    cursor: pointer;
  }

  .hide-slider-thumb::-webkit-slider-thumb {
    display: none;
  }
}

.dialog {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s linear;

  width: 100%;
  height: 100%;
  z-index: 100;

  .dialog-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000077;
    z-index: 0;
  }

  .dialog-box {
    z-index: 1;

    border-radius: 5px;
    box-shadow: 0 0 8px 1px black;

    width: 820px;
    max-width: 820px;

    background-color: $color-darker;

    .dialog-top {
      background-color: $color-default;

      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      
      padding: 0.8em;
      border-bottom: 1px solid rgba(0, 0, 0, 0.45);

      span {
        margin-left: 0.5em;
        margin-right: 1em;
        font-size: x-large;

        overflow: hidden !important;
        text-overflow: ellipsis;
        white-space: nowrap !important;
        width: 90%;
      }
    }
    
    .dialog-center {
      display: flex;
      flex-flow: row nowrap;

      .dialog-center-left {
        display: flex;
        flex-flow: column nowrap;
      }

      .dialog-center-right {
        background-color: $color-dark;
        padding: 1em 2em 2em 2em;

        display: flex;
        flex-flow: column nowrap;
        overflow-y: auto;

        width: 100%;
        height: 450px;

        text-align: left;

        .dialog-library-type-box{
          display: flex;

          .dialog-library-btn {
            background-color: transparent;
            border: none;

            cursor: pointer;
  
            padding: 1em 2.5em 1em 2.5em;
            border-radius: 3px;
  
            display: flex;
            flex-flow: column wrap;
            align-items: center;

            transition: background-color .15s ease;
  
            span {
              color:$color-text-default;
              padding-top: 0.8em;
              font-size: small;
              font-weight: bold;
            }
  
            svg {
              width: 4em;
              height: 4em;

              path {
                fill:$color-text-default;
              }
            }
          }
  
          .dialog-library-btn:hover {
            background-color: $color-light;

            span {
              color:$color-text-primary;
            }

            svg path {
              fill:$color-text-primary;
            }
          }

          .dialog-library-btn-active {
            pointer-events: none;
            span {
              color:$app-color;
            }
  
            svg path {
              fill:$app-color;
            }
          }

          .dialog-library-btn-disabled {
            pointer-events: none;
            opacity: 0.4;
          }
        }

        .dialog-horizontal-box{
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;

          #seasonBackgroundImage {
            width: 60%;
          }

          .media-input {
            display: flex;
            flex-flow: row nowrap;

            margin-bottom: 0.8em;
          }

          .dialog-background-buttons {
            display: flex;
            flex-flow: column nowrap;
          }
          
          .dialog-background-buttons > * {
            margin-bottom: 0.5em;
          }

          button {
            padding: 0.7em;
          }
        }

        .dialog-horizontal-box > * {
          margin-right: 1em;
        }
        
        .align-center {
          align-items: center;
        }

        .dialog-input-box {
          display: flex;
          flex-flow: column wrap;
          width: 100%;

          .check-text {
            margin-left: 0.5em;
          }

          .info-text {
            margin-top: 0.4em;
            color: $color-more-lighter;
          }

          span {
            font-size: small;
            margin-bottom: 0.6em;
          }

          input, textarea {
            padding: 1em 1.3em 1em 1.3em;
            background-color: $color-lighter;
            border: none;
            outline: none;
            border-radius: 3px;

            font-size: small;
            font-family: sans-serif;

            color: $color-text-primary;

            transition: background-color .15s ease;
          }

          input::placeholder {
            color: $color-text-default;
          }

          input:focus {
            background-color: $color-bright;
            color: black;
          }

          textarea:focus {
            background-color: $color-bright;
            color: black;
          }

          .dialog-input-lock {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            a {
              height: 100%;
              width: 2.5em;
              min-width: 40px;
              background-color: $color-light;

              border-radius: 5px 0 0 5px;
              
              display: flex;
              justify-content: center;
              align-items: center;

              svg {
                width: 20px;
                height: 20px;

                path {
                  fill: $color-darker;
                  transition: fill .15s ease;
                }
              }
            }

            a:hover {
              svg path{
                fill: $color-text-default;
              }
            }

            input, textarea {
              border-radius: 0 5px 5px 0;
              width: 100%;
            }
          }

          .dialog-input-lock.locked {
            a {
              background-color: $app-color;

              svg path{
                fill: $color-darker;
              }
            }
          }
        }

        .add-folder-btn {
          width: fit-content;
          align-self: center;
        }

        .folder-list {
          list-style-type: none;
          li {
            background-color: $color-lighter;
            padding: 0.6em 1.3em 0.6em 1.3em;

            margin-bottom: 0.8em;
            border-radius: 5px;
            color: $color-text-primary;

            display: flex;
            justify-content: space-between;
          }

          li:hover {
            background-color: $color-lighter;
          }
        }

        .dialog-images-scroll {
          display: flex;
          flex-flow: row wrap;

          .dialog-image-btn {
            border: 3px solid transparent;
            margin: 10px;

            display: flex;
            justify-content: flex-end;
            cursor: pointer;

            .triangle-tick {
              display: block;
              position: absolute;
              border-color: $app-color $app-color transparent transparent;
              border-style: solid;
              border-width: 0 60px 60px 0;
            }
  
            svg {
              position: absolute;
              padding: 0.4em;

              path {
                fill: $color-dark;
              }
            }
          }

          .dialog-image-btn:hover {
            border: 3px solid $app-color-darker;
          }

          .dialog-image-btn-active {
            border: 3px solid $app-color;
          }

          .dialog-image-btn-active:hover {
            border: 3px solid $app-color;
          }

          
        }

        .left-media-info, .right-media-info {

          div {
            margin-top: 0.2em;
          }

          .separator {
            margin-bottom: 1.2em;
          }

          #media-info-title {
            font-size: large;
            font-weight: bold;
          }

          #media-info-key {
            font-size: medium;
            color: rgb(115, 115, 115);
            margin-right: 1em;
          }

          #media-info-value {
            font-size: medium;
            font-weight: bold;
            color: $color-text-primary;
            opacity: 0.85;
          }
        }
      }

      .dialog-center-right > * {
        margin: 0.7em 0;
      }
    }

    .dialog-bottom {
      background-color: $color-default;
      padding: 1em;

      display: flex;
      justify-content: flex-end;
      align-items: center;
      
      padding-right: 0.6em;
      border-top: 1px solid rgba(0, 0, 0, 0.45);
    }
  }

  .desktop-dialog-side-btn {
    font-size: medium;
    color: $color-text-default;
    background-color: transparent;
    border: none;

    text-align: left;
    transition: background-color .15s ease;

    padding: 0.8em 1em 0.8em 1em;

    cursor: pointer;
  }

  .desktop-dialog-side-btn:hover {
    color: $color-text-primary;
    background-color: $color-default;
  }

  .desktop-dialog-side-btn-active {
    font-size: medium;
    color: $app-color;

    cursor: pointer;
  }
  
  .desktop-dialog-side-btn-active:hover {
    color: $color-text-primary;
  }

  .desktop-dialog-btn {
    margin-right: 0.6em;

    padding: 1em 1.3em 1em 1.3em;

    border: none;
    border-radius: 3px;

    transition: background-color .3s ease;

    font-size: small;
    font-weight: bold;
    color:$color-text-primary;
    background-color: $color-lighter;

    cursor: pointer;
  }

  .desktop-dialog-btn:hover {
    background-color: $color-more-lighter;
  }

  .btn-app-color {
    margin-right: 0.6em;

    padding: 1em 1.3em 1em 1.3em;

    border: none;
    border-radius: 3px;

    transition: background-color .3s ease;

    font-size: small;
    font-weight: bold;
    color:$color-text-primary;
    background-color: $app-color-darker;

    cursor: pointer;
  }

  .btn-app-color:hover {
    background-color: $app-color;
    color: $color-dark;
  }

  .close-window-btn {
    background-color: transparent;
    border: none;
    opacity: 0.8;
    transition: opacity .15s ease;
    cursor: pointer;
  }

  .close-window-btn:hover {
    opacity: 1;
  }
}

.dialog-active {
  opacity: 1;
  pointer-events: auto;
}

.horizontal-center-align {
  display: flex;
  justify-content: center;

  input {
    margin-right: 0.7em;
  }
}

/* Text Clamp */
.clamp-text {
  box-sizing: border-box;

  --line-clamp-amount: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  text-overflow: ellipsis;
  line-clamp: var(--line-clamp-amount);
  -webkit-line-clamp: var(--line-clamp-amount);

  transition: max-height .4s ease;
  max-height: calc(2.5em * var(--line-clamp-amount));
}

.clamp-text.open {
  line-clamp: initial;
  -webkit-line-clamp: initial;
  max-height: 100%;
}

.clamp-text-action,
.clamp-text-less,
.clamp-text-action.open .clamp-text-more {
  display: none;
  transition: .4s ease;

  margin-top: 0.5em;
  padding: 0;

  width: fit-content;

  background-color: transparent;
  border: none;
  color:$app-color;
  cursor: pointer;

  font-size: small;
  font-weight: bold;

  span {
    display: flex;
    flex-flow: row nowrap;
  }

  svg {
    margin-left: 0.2em;
  }

  svg path{
    fill: $app-color;
  }
}

.clamp-text-action:hover {
  color: $color-text-primary;

  svg path{
    fill: $color-text-primary;
  }
}

.clamp-text-less:hover {
  color: $color-text-primary;

  svg path{
    fill: $color-text-primary;
  }
}

.clamped + .clamp-text-action {
  display: inline-block;
}

.clamp-text-action.open .clamp-text-less {
  display: inline;
}

.rti--container * {
  box-sizing: border-box;
  transition: all 0.2s ease;
}

/* Tags Input Styles */
.rti--container {
  background: $color-lighter !important;
  border: none !important;
  border-radius: 0 3px 3px 0 !important;
  display: flex !important;
  flex-flow: row wrap !important;
  align-items: baseline !important;
  gap: 0.3em !important;
  padding: 0.5em !important;
  outline: none !important;
  
  .rti--input {
    line-height: normal !important;
    width: fit-content !important;
    color: $color-text-primary !important;
  }

  .rti--input:focus-within {
    background: none !important;
    color: $color-text-primary !important;
  }
  
  .rti--tag {
    display: flex !important;
    flex-direction: row-reverse !important;
    align-items: baseline !important;
    background: $color-default !important;
    border-radius: 4px !important;
    padding: 0.4em 0.8em 0.4em 0 !important;

    margin: 0 !important;
    
    height: 2.3em !important;
  
    span {
      margin-top: 0.1em !important;
      color: $color-text-primary !important;
    }
  }
  
  .rti--tag button {
    color: $color-text-default !important;
    background: none !important;
  }
  
  .rti--tag button:hover {
    color: $color-text-primary !important;
  }
}

.rti--container:focus-within {
  border-color: transparent !important;
  box-shadow: none !important;
}

.music-section {
  margin: 10em 3em 0 3em;
  display: flex;
  flex-flow: column nowrap;
  height: 90%;
}

.music-cards {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1em;
  padding-bottom: 5em;
}

.music-container {
  height: 80vh;

  table {
    border-collapse: collapse;
  }

  thead {
    position: sticky;
    top: 0;
    border-radius: 5px;
    
    
    z-index: 1;
    
  }

  th, td {
    padding: 0.8em;
    text-align: left;
    width: auto;
    border: none;

    color: $color-text-primary;
    
    img {
      border-radius: 5px;
    }
  }

  th {
    background-color: $color-light;
    span{
      margin-right: 0.3em;
    }
  }

  th:hover {
    background-color: $color-lighter;
    color: $color-text-primary;
    cursor: pointer;
  }

  tr {
    border-radius: 5px;
  }

  .song-row-options {
    display: flex;
    min-width: 20px;
  }
}

.floating-box {
  position: fixed;
  top: 100px;
  left: 50%;
  padding: 10px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  z-index: 10;
}

.list-container {
  height: 100vh;
  background-color: #000;
}

.song-row {
  background-color: transparent;
  .song-image-container {
    display: flex;
    
    .song-btn-overlay {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: #000000b0;
      border-radius: 5px;

      display: none;
      align-items: center;
      justify-content: center;
    
      button {
        border-radius: 50px;
        width: 35px;
        height: 35px;
        outline: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
    
        svg path {
          fill: $color-text-default;
        }
      }
    
      button:hover {  
        svg path {
          fill: $color-text-primary;
        }
      }
    }
  }
}

.song-row:hover .song-image-container .song-btn-overlay {
  display: flex;
}

.row-selected {
  background-color: $color-more-lighter;
  cursor: pointer;
}

.search-container {

  .search-bar {
    margin-bottom: 1em;
    background-color: transparent;
  }
}

.music-player-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: transparent;
  display: none;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.2s ease;
  .music-main {
    position: absolute;
    width: 100%;
    height: 92vh;
    background-color: rgb(18, 18, 18);
    pointer-events: auto;

    display: flex;
    transition: all 0.2s;
    .left-panel {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      transition: width 0.3s;

      img {
        border-radius: 15px;
        height: auto;
        max-width: 90%;
        max-height: 60%;
      }

      .left-panel-info {
        margin-top: 2em;
        display: flex;
        flex-flow: column nowrap;

        #left-panel-info-title {
          font-size: larger;
          font-weight: bold;
          color: $color-text-primary;
        }

        #left-panel-info-subtitle {
          font-size: medium;
          margin-top: 0.5em;
        }
      }
    }
    

    .right-panel {
      width: 40%;

      transition: all 0.2s;
    }

    .hide-right-panel {
      transform: translateX(+100%);
      width: 0;
    }

    .expand-left-panel {
      width: 100%;

    }
  }

  .music-bottom-bar {
    position: absolute;
    bottom: 0;
    height: 8vh;
    min-height: 6em;
    width: 100%;
    background-color: #090909;
    pointer-events: auto;

    .music-controls {
      display: flex;
      height: 100%;
      width: 100%;

      justify-content: space-between;
      align-items: center;
      display: flex;

      

      .music-controls-left {
        display: flex;
        width: 52%;
        justify-content: space-between;
        

        .music-controls-left-box {
          display: flex;

          img {
            width: 4.6em;
            height: 4.6em;
            margin-left: 0.5em;
            margin-right: 0.8em;
            border-radius: 5px;
          }

          .music-controls-text {
            display: flex;
            flex-flow: column nowrap;
            text-align: left;
            max-width: 30em;
    
            #music-title {
              font-size: medium;
              font-weight: bold;
  
              overflow: hidden !important;
              text-overflow: ellipsis;
              white-space: nowrap !important;
            }
    
            #music-subtitle {
              font-size: medium;
  
              overflow: hidden !important;
              text-overflow: ellipsis;
              white-space: nowrap !important;
            }
    
            #music-time {
              font-size: small;
            }
          }
        }

        .music-controls-btns {
          display: flex;
          margin-left: 2em;
        }
      }

      .music-controls-right {
        display: flex;
        justify-content: right;
        align-items: center;
        height: 100%;

        #music-volume-slider {
          margin-right: 1em;
          height: 70%;
        }
      }
    }
  }

  .music-main-hidden {
    background-color: transparent;
    transform: translateY(+100%);
    transition: all 0.2s;
  }

  .music-player-upper-btns {
    margin-top: 8em;

    display: flex;
    flex-flow: row nowrap;

    button {
      padding: 2em;
      width: 50%;

      font-weight: bold;
      font-size: small;

      outline: none;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $color-text-dark;
      cursor: pointer;
    }

    .button-selected {
      border-bottom: 1px solid $color-text-primary;
    }
  }

  .music-player-scroll {
    padding: 2em 0.5em;
    text-align: left;

    .music-player-item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      margin-top: 0.8em;

      .music-player-item-left {

        display: flex;
        flex-flow: row nowrap;

        .music-player-item-text {
          display: flex;
          flex-flow: column nowrap;
          margin-left: 0.8em;
          margin-right: 0.8em;

          font-size: medium;

          #music-player-item-title {
            color: $color-text-primary;
          }
        }

        img {
          width: 3em;
          height: 3em;
          border-radius: 5px;
        }
      }
    }
  }
}

.show-music-player {
  display: block;
  opacity: 1;
}

.music-view-info-container {
  margin-left: 1.9em;
  .info-container {
    padding-left: 0;

    .poster-image img {
      width: 250px;
      height: 250px;
    }

    .season-info {
      .season-info-buttons-container {
        margin-top: 1em;
      }
    }
  }
}

.album-section-text {
  text-align: left;
  font-size: larger;
  font-weight: bold;

  margin-top: 0;
}

.album-content {
  display: flex;
  flex-flow: column nowrap;

  .info-container {
    display: flex;
    flex-flow: row nowrap;

    .poster-image img {
      width: 250px;
      height: 250px;
    }

    #seriesTitle {
      font-size: xx-large;
    }

    a {
      border-bottom: 2px solid transparent;
      cursor: pointer;
      width: fit-content;
      transition: border-color .15s ease-in;
    }

    #seasonTitle {
      margin-top: 0.1em;
      font-size: larger;
      color:$color-text-default;
    }

    #seriesTitle::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: white;
      transition: width 0.2s ease;
    }
    
    #seriesTitle:hover::after {
      width: 100%;
    }

    .season-info-buttons-container {
      margin-top: 1em;
    }
  }
  
  .song-list {
    margin-top: 1em;
    padding-right: 3em;
    padding-bottom: 5em;
    display: flex;
    flex-flow: column nowrap;

    .disc-text-title {
      font-size: larger;
      font-weight: bold;
      margin-bottom: 1.5em;
      text-align: left;
    }

    .music-player-item {
      margin-bottom: 1em;
      margin-right: 2em;
      width: 100%;
      max-width: 60em;
      height: 2em;
      flex-flow: row nowrap;

      .music-player-item-left {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .song-image-container {
          width: 2em;
          justify-content: center;
        
          .song-btn-overlay {
            width: 30px;
            height: 30px;
            background-color: #000;
            border-radius: 5px;

            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
  
        .music-player-item-text {
          margin-left: 2em;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
        }
      }

      
      
    }
  }
}

.p-confirm-dialog {
  .p-dialog-header {
    background-color: $color-darker;
  }
  
  .p-dialog-content {
    background-color: $color-darker;
    padding: 1.5em 2em;
  }

  .p-dialog-footer {
    padding-top: 1em;
    background-color: $color-darker;

    .p-button {
      background-color: $color-light;
      color: rgb(255, 255, 255);
      opacity: 0.9;
    }

    .p-button:hover {
      opacity: 1;
    }

    .p-button-danger {
      background-color: #e10000;
      border: 1px solid #e10000;
    }
  }

}

.select-input {
  width: fit-content;
  padding: 0.5em 0.2em;            
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}