.season-image {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;

	opacity: 0;

	display: flex;
	justify-content: right;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.season-gradient {
	position: absolute;
	right: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-size: 100% 100%;
	background-position: 0px 0px;
	background-image: radial-gradient(
		65% 94% at 70% 30%,
		#073aff00 1%,
		#000000e3 90%
	);
}

.background-image-blur {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;

	opacity: 0;

	display: flex;
	justify-content: right;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.noise-background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0.02;
}

.loaded {
	animation: fadeIn 3s forwards;
}

.loadedFull {
	animation: fadeInFull 2.5s forwards;
}

.loaded-blur-in {
	animation: fadeInShort 1.5s forwards;
}

.loaded-blur-out {
	animation: fadeOutShort .6s forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

@keyframes fadeInFull {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeInShort {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOutShort {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
