$app-color: #8EDCE6;
$app-color-darken: #80c4cd;
$app-color-darker: #71aeb6;
$color-text-primary: #ffffff;
$color-text-default: #d2d2d2e6;
$color-text-dark: #d0d0d0cc;
$color-darker: #101010;
$color-dark: #222222;
$color-default: #282828;
$color-light: #323232;
$color-lighter: #5e5e5e;
$color-more-lighter: #707070;
$color-bright: #EDF2F4;

$font-x-small: 0.625em;
$font-small: 0.812em;
$font-medium: 1em;
$font-large: 1.125em;
$font-x-large: 1.5em;
$font-xx-large: 2em;
$font-xxx-large: 2.5em;
$font-xxx-larger: 3em;