.home-view-container {
	margin: 10em 260px 0 40px;
	overflow-y: auto;
	overflow-x: hidden;
	max-width: fit-content;

	text-align: left;

	.horizontal-scroll-title {
		display: flex;
		justify-content: space-between;
		align-items: center;

		#section-title {
			margin-left: 0.5em;
			font-size: larger;
			font-weight: bold;
		}

		.scroll-btns {
			margin-right: 2em;
			opacity: 0;
			pointer-events: none;
			.svg-button {
				background-color: transparent;
				border-radius: 5px;
				border-color: transparent;
				padding: 15px;
				cursor: pointer;

				border: 1px solid transparent;
				background-color: #00000003;

				border-radius: 50px;
				color: white;

				transition: opacity 0.3s ease-in-out;

				svg,
				img {
					opacity: 0.7;
				}
			}

			.svg-button:hover {
				svg,
				img {
					opacity: 1;
				}
			}
		}

		.visible {
			opacity: 1;
			pointer-events: auto;
		}
	}

	.container {
		max-width: fit-content;
		display: flex;
		flex-flow: row nowrap;
		overflow-x: hidden;
		scroll-behavior: smooth;

		padding-right: 2em;

		margin-bottom: 1.5em;
		gap: 0.8em;
	}
}

@media (max-width: 720px) {
	.home-view-container {
		margin: 10em 120px 0 40px;
	}
}
