@use "../../../windows/utils/variables" as v;

.downloader-container {
	width: 100%;
	height: 100%;

	position: absolute;

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 200;

	.downloader-background {
		width: 100%;
		height: 100%;

		position: absolute;
		z-index: 201;
	}

	.downloader-window {
		background-color: v.$color-dark;

		display: flex;
		flex-flow: column nowrap;
		align-items: center;

		width: 52em;
		height: 70vh;
		border-radius: 3px;

		box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.406);

		z-index: 202;

		.progress-container {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;

			z-index: 100;

			align-content: center;

			.progress-window {
				margin: 0 auto;
				width: 30em;
				height: 10em;

				padding: 2em;
				border-radius: 5px;
				background-color: v.$color-darker;
				box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.406);

				display: flex;
				flex-flow: column nowrap;
				justify-content: center;

				#progress-bar {
					height: 1em;
				}
			}
		}

		header {
			padding: 1em 1.5em;

			width: 100%;

			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
		}

		.search-container {
			padding: 0.5em;

			input {
				padding: 1em 1.3em 1em 1.3em;
				background-color: v.$color-lighter;
				border: none;
				outline: none;
				border-radius: 3px;

				font-size: small;
				font-family: sans-serif;

				color: v.$color-text-primary;

				transition: background-color 0.15s ease;
			}

			input::placeholder {
				color: v.$color-text-default;
			}

			input:focus {
				background-color: v.$color-bright;
				color: black;
			}
		}

		.pop-up-video {
			width: 100%;
			padding: 1em 1.5em;
		}

		.results-container {
			position: relative;
			display: flex;
			flex-flow: column nowrap;
			overflow-y: auto;
			width: 100%;
			height: 100%;

			padding: 1em 1.5em;

			gap: 1em;

			.result-card {
				display: flex;
				flex-flow: row nowrap;

				gap: 0.8em;

				img {
					width: auto;
					height: 8em;
				}

				.result-info {
					display: flex;
					flex-flow: column nowrap;
					justify-content: space-between;
					text-align: left;

					width: 100%;

					#result-title {
						font-weight: bold;
					}

					#result-duration {
						margin-top: 0.5em;
					}
				}

				.btns-container {
					display: flex;
					flex-flow: column nowrap;

					justify-content: space-around;
				}
			}
		}
	}
}
