#root {
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  height: 100%;
  --app-color: #8EDCE6;
  --app-color-darken: #86ccd5;
  --color-text-primary: #ffffff;
  --color-text-default: #ffffffcc;

  color: var(--color-text-default);
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  user-select: none;    /* To disable mouse dragging selection */
}

.container {
  display: flex;
  flex: 1;
  height: 100%;
}

.no-libraries-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.no-libraries-container h2{
  margin-bottom: 0;
}

/* Overlay to block interaction when the video player is on */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  z-index: 999;
  pointer-events: auto;
  user-select: none;
}

/* LEFT PANEL */
.left-panel {
  width: 260px;
  display: flex;
  flex-direction: column;
  padding: 10px 15px 10px 20px;
  overflow-y: hidden;
  margin: 0 8px 8px 0;
  height: 100%;
  z-index: 1;
}

/* LEFT PANEL CONTROLS */
.top-controls {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-controls button {
  margin-right: 5px;
}

.svg-button-desktop-controls{
  background-color: transparent;
  border-color: transparent;
  border-radius: 5px;
  padding: 5px;
}

.svg-button-desktop-controls:hover{
  background-color: rgba(0, 0, 0, 0.739);
}

.svg-button-desktop-controls svg{
  width: 24px;
  height: 24px;
}

.svg-add-library-btn {
  background-color: transparent;
  border-color: transparent;
  border-radius: 5px;
  padding: 10px 15px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-add-library-btn:hover{
  background-color:rgba(0, 0, 0, 0.739);
}

.svg-add-library-btn svg{
  width: 16px;
  height: 16px;
}

.svg-add-library-btn span{
  color: var(--color-text-primary);
  margin-left: 10px;
}

/* LIBRARIES LIST */
.libraries-list {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #0000005b;
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.libraries-button {
  background-color: transparent;
  padding: 8px;
  margin-bottom: 5px;
  text-align: left;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: left;
}

.libraries-button.selected svg path {
  fill: var(--app-color);
}

.libraries-button .library-name {
  color: var(--color-text-default);
  margin-left: 10px;
  transition: color 0.3s ease;

  font-size: medium;
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.libraries-button.selected .library-name {
  color: var(--app-color);
}

.libraries-button:hover .library-name {
  color: var(--color-text-primary);
}

.libraries-button span:hover{
  color: var(--color-text-primary);
}

/* RIGHT PANEL */
.right-panel {
  width: 100%;
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

/* LIBRARY AND SLICER BAR */
.library-slicer-bar{
  background-color: #0000009a;
  z-index: 20;
  position: fixed;
  padding: 10px;
  margin-top: 90px;
  margin-left: 50px;
  margin-bottom: 40px;

  border-radius: 5px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
}

.library-button{
  font-size: medium;
  border: none;
  background-color: transparent;
  color: var(--color-text-default);
}

.library-button:hover{
  color: var(--color-text-primary);
}

.svg-button-desktop-transparent{
  background-color: transparent;
  border: none;
}

.svg-button-desktop-transparent path{
  opacity: 0.8;
}

.svg-button-desktop-transparent:hover path{
  opacity: 1;
}

.desktopSlider {
  margin-left: 20px;
  margin-right: 10px;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 80px;
  height: 3px;
  border-radius: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.desktopSlider:hover {
  opacity: 1;
}

.desktopSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: var(--color-text-primary);
  cursor: pointer;
}

/* SERIES CONTAINER */
.series-container{
  margin: 160px 0 0 40px;
  padding: 0 40px 40px 0;
  display: flex;
  flex-flow: row wrap;
  overflow-y: auto;
}

#seriesName {
  margin: 8px 0 2px 4px;
  color: var(--color-text-primary);
  position: relative;
  display: inline-block;
  width: fit-content;

  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  max-width: 100%;
}

#seriesName:hover{
  cursor: pointer;
}

#seriesName::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.3s ease;
}

#seriesName:hover::after {
  width: 100%;
}

.logo-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  text-align: left;
  margin-left: 30px;
  height: 200px;
}

.logo-container img{
  max-height: 200px;
  width: min-content;
}

/* SEASON INFO */
.season-episodes-container{
  background-color: #0000005b;
  padding: 220px 20px 20px 10px;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.info-container{
  padding: 30px;
  display: flex;
  flex-flow: row nowrap;
}

.season-info{
  margin-left: 50px;
  display: flex;
  flex-flow: column wrap;
  text-align: left;
}

#seriesTitle{
  color: var(--color-text-primary);
  font-size: 3.5em;
  font-weight: bold;
}

#seasonTitle{
  color: var(--color-text-primary);
  font-size: 2em;
  font-weight: bold;
}

.season-info-text{
  display: flex;
  flex-flow: column wrap;
}

.season-info-text span{
  font-size: medium;
  color: var(--color-text-default);
}

#directedBy{
  font-size: small;
}

#date{
  margin-top: 10px;
}

.rating-info{
  margin-top: 5px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: row nowrap;
}

.rating-info img{
  width: 40px;
}

.rating-info span{
  color: var(--color-text-default);
  font-weight: bold;
  margin-left: 5px;
}

.season-info-buttons-container{
  display: flex;
  flex-flow: row wrap;
}

.overview-container{
  max-width: 700px;
}

.expand-btn{
  appearance: none;
  background-color: transparent;
  border-color: white;
}

.expand-btn::before{
  content: "Expand";
}

.expand-btn:checked::before{
  content: "Collapse";
}

.expand-svg{
  fill: white;
}

.expand-btn:checked::before .expand-svg{
  transform: rotate(180);
}

.overview-container p{
  color: var(--color-text-primary);
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.overview-container p:has(+ .expand-btn:checked){
  display: block;
}

/* SEASON INFO BUTTONS */
.play-button-desktop {
  background-color: var(--app-color-darken);
  padding: 10px 15px;
  border-radius: 5px;
  border-color: transparent;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play-button-desktop:hover {
  background-color: var(--app-color);
}

.play-button-desktop svg {
  width: 24px;
  height: 24px;
}

.play-button-desktop #playText {
  margin-left: 10px;
}

.svg-button-desktop{
  background-color: transparent;
  border-radius: 5px;
  border-color: transparent;
  padding: 5px 12px 5px 12px;
  margin-left: 10px;
  cursor: pointer;
}

.svg-button-desktop:hover{
  background-color: rgba(0, 0, 0, 0.739);
}

.svg-button-desktop svg{
  width: 24px;
  height: 24px;
}

/* SEASON SELECTOR */
.season-selector-container {
  position: relative;
}

.season-selector {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 30px;
  background-color: transparent;
  border: none;
  color: var(--color-text-default);
  font-size: medium;
  border-bottom: 1px solid var(--color-text-default);
}

.season-selector:hover {
  color: var(--color-text-primary);
  border-bottom: 1px solid var(--color-text-primary);
}

#triangle{
  margin-left: 5px;
  transform: scale(0.9, 0.6);
}

.dropdown-menu{
  margin-left: 50px;
  margin-top: 10px;
  position: absolute;
  background-color: #191a1c;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .35);
  font-size: 13px;
  padding: 8px 0;
  transform-origin: center top;
  transition: background .15s ease-out;
}

.dropdown-element{
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  word-wrap: break-word;
  display: block;
  font-size: small;
  padding: 4px 20px;
  text-align: left;
}


/* EPISODES CONTAINER */
.episodes-container{
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.episode-box{
  margin: 10px;
  display: flex;
  flex-flow: column wrap;
  text-align: left;
}

.episode-box #episodeName{
  margin-top: 10px;
  margin-left: 0.3em;
  font-size: medium;
  color: var(--color-text-primary);

  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  max-width: 100%;
}

.episode-box #episodeNumber{
  margin-left: 0.3em;
  font-size: small;
  color: rgb(184, 184, 184);
}

.video-button{
  padding: 1px;
  cursor: pointer;
  border-radius: 5px;
}

.video-button img {
  border-radius: 5px;
}

.video-button:hover {
  background-color: var(--app-color);
  transition: background-color 0.3s ease;
}

/* WINDOW TOP BAR */
.top-bar {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-app-region: drag;
}

.window-buttons-container {
  padding-top: 10px;
  padding-right: 40px;
}

.window-button {
  padding: 10px 15px 10px 15px;
  color: white;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-app-region: no-drag; /* No arrastra la ventana en los botones */
}

.window-button svg{
  width: 18px;
  height: 18px;
  display: inline-block;
  overflow: middle;
}

.minimize-button:hover {
  background-color: rgba(0, 0, 0, 0.797);
  border-radius: 5px 0 0 5px;
}

.maximize-button:hover {
  background-color: rgba(0, 0, 0, 0.797);
}

.close-button:hover {
  background-color: rgb(255, 15, 15);
  border-radius: 0 5px 5px 0;
}

/* IMAGES */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Set the image at the back */
}

.background-image img {
  width: 100%;
  height: auto; /* To keep aspect ratio */
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.background-image img.imageLoaded {
  opacity: 1;
}

.main-background {
  filter: brightness(0.5) blur(18px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.main-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.main-background img.loaded {
  opacity: 1;
}

.noise-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.noise-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.02;
}

.blur-background-image {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #101010;
}

.poster-image img {
  width: 250px;
  height: 375px;
  border-radius: 5px;
}

/* SCROLL DESIGN */
.scroll::-webkit-scrollbar {
  width: 0.7em;
}

.scroll::-webkit-scrollbar-track {
  background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgb(59, 59, 59);
  border-radius: 20px;
  width: 0.5em;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgb(126, 126, 126);
  width: 0.7em;
}