$app-color: #8EDCE6;
$app-color-darken: #86ccd5;
$color-text-primary: #ffffff;
$color-text-default: #ffffffcc;
$color-text-dark: #d0d0d0cc;

#root {
    margin: 0 auto;
    text-align: center;

    font-family: sans-serif;

    pointer-events: auto;

    display: flex;
    flex-direction: column;
    height: 100%;

    color: $color-text-default;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    user-select: none;    /* To disable mouse dragging selection */
}

.controls-container {
    position: absolute;

    color:white;

    pointer-events: auto;

    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.controls-top-bar {
    background-color: #101010;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    -webkit-app-region: drag;
}

.controls-top-bar button {
    -webkit-app-region: no-drag;
}

.controls-botttom-bar {
    background-color: #101010;
    display: flex;
    flex-direction: column;
}

.controls {
    background-color: #101010;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px 25px 20px 25px;
}

.controls-svg-button {
    background-color: transparent;
    border-radius: 5px;
    border-color: transparent;
    padding: 5px 12px 5px 12px;
    margin-left: 10px;
    cursor: pointer;

    color:white;

    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

.controls-svg-button-desktop:hover{
    opacity: 1;
}

.controls-svg-button-desktop svg{
    width: 24px;
    height: 24px;
}

.left-controls {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: left;
    width: 350px;

    #title {
        font-size: medium;
        font-weight: bold;
        margin-bottom: 4px;
    }

    #subtitle {
        font-size: medium;
        margin-bottom: 4px;
        font-weight: bold;
        color: $color-text-dark;
    }

    #time {
        font-size: small;
        font-weight: bold;
        color: $color-text-dark;
    }
}

.center-controls {
    display: flex;
    justify-content: center;
    width: 350px;
}

.right-controls {
    display: flex;
    justify-content: right;
    width: 350px;
}

.slider {
    flex: 1;
    width: 100%;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 5px;
    border-radius: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: $color-text-primary;
    cursor: pointer;
}