$app-color: #8EDCE6;
$app-color-darken: #86ccd5;
$color-text-primary: #ffffff;
$color-text-default: #ffffffcc;
$color-text-dark: #d0d0d0cc;

#root {
    margin: 0 auto;
    text-align: center;

    font-family: sans-serif;

    pointer-events: auto;

    display: flex;
    flex-direction: column;
    height: 100%;

    color: $color-text-default;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    user-select: none;    /* To disable mouse dragging selection */
}

.controls-container {
    position: absolute;

    color:white;

    pointer-events: auto;

    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.hidden-top {
    transform: translateY(-100%);
}

.hidden-bottom {
    transform: translateY(+100%);
}

.visible {
    transform: translateY(0);
}

.controls-bar {
    transition: transform 0.2s ease-in-out;
}

.controls-top-bar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.controls-top-bar button {
    -webkit-app-region: no-drag;
}

.controls-bottom-bar {
    display: flex;
    flex-direction: column;
}

.controls-slider-div {
    display: flex;
    background-color: #101010;
}

.controls {
    background-color: #101010;
    padding: 20px 25px 20px 25px;
}

.controls-svg-button {
    background-color: transparent;
    border-radius: 5px;
    border-color: transparent;
    padding: 15px;
    margin-left: 10px;
    cursor: pointer;

    border: 1px solid transparent;

    background-color: #00000003;

    border-radius: 50px;
    color:white;
    
    transition: opacity 0.3s ease-in-out;

    svg, img {
        opacity: 0.7;
    }
}

.controls-svg-button:hover{
    svg, img {
        opacity: 1;
    }
}

.button-active {
    svg {
        opacity: 1;

        path {
            fill: $app-color;
        }
    }
}

.controls-svg-button:focus {
    border: 1px solid transparent;
    outline: none;
}

.controls-svg-button svg{
    width: 22px;
    height: 22px;
}

.left-controls-section {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(50% + 70px);
}

.left-controls {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: left;

    #title {
        font-size: small;
        font-weight: bold;
        margin-bottom: 4px;
    }

    #subtitle {
        font-size: small;
        margin-bottom: 8px;
        font-weight: bold;
        color: $color-text-dark;
    }

    #time {
        font-size: smaller;
        color: $color-text-dark;
    }
}

.center-controls {
    background-color: transparent;
    display: flex;
    justify-content: center;
    left: 50%;
    right: 50%;
    width: 200px;
}

.right-controls {
    display: flex;
    justify-content: right;
}

.slider {
    width: 100%;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 4px;
    border-radius: 25px;
    background-color: #646464;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .3s;
    transition: background-color .3s;
}
  
.slider:hover {
    background-color: #dedede;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: $color-text-primary;
    cursor: pointer;
}

.vertical-slider {
    writing-mode: vertical-lr;
    direction: rtl;
    width: 5px;
    height: 60px;
    vertical-align: bottom;
}

.vertical-slider::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
}

.settings-box {
    background-color: #1f1f1ffb;
    padding: 30px;
    display: flex;
    flex-flow: column wrap;

    h1 {
        margin-top: 0;
        margin-bottom: 40px;
        font-size: x-large;
        filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
    }
    
    .settings-columns {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    
    .settings-text-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: right;
        text-align: right;
        margin-right: 50px;

        span {
            margin-bottom: 10px;
            font-size: medium;
            font-weight: bold;
            color: $color-text-default;
            height: 25px;
            align-content: center;
            filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
        }
    }
    
    .settings-options-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
}

.dropdown {
    min-width: min-content;
    position: relative;
    margin-bottom: 10px;
    height: 25px;

    * {
        box-sizing: border-box;
    }

    .select-plain {
        font-size: small;
        padding: 0.4em;
        color: $color-text-primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
    }

    .select {
        font-size: small;
        padding: 0.4em;
        color: $app-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: color 0.3s;
        width: fit-content;
        filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));

        .arrow {
            margin-left: 0.8em;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid $app-color;
            transition: 0.3s;
        }
    
        .arrow-rotate {
            transform: rotate(180deg);
        }
    }

    .select:hover {
        color: $color-text-primary;

        .arrow {
            border-top: 6px solid $color-text-primary;
        }
    }

    .menu {
        list-style: none;
        padding: 0.5em 0em;
        background: #101010;
        box-shadow: 0 0 8px 1px black;
        color: $color-text-default;
        position: absolute;
        width: fit-content;
        margin-top: 0.2em;
        opacity: 0;
        display: none;
        transition: 0.2s;
        border-radius: 5px;
        z-index: 1;

        li {
            font-size: small;
            background-color: transparent;
            text-align: left;
            padding: 0.3em 0.8em;
            cursor: pointer;
        }

        li:hover {
            background-color: #4e4e4e58;
            color: $color-text-primary;
        }

        .active {
            color: $app-color;
        }
    }

    .menu-open {
        display: block;
        opacity: 1;
    }
}

.chapters-container{
    background-color: #1f1f1ffb;
    padding: 30px;
    display: flex;
    flex-flow: column wrap;

    .chapters-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;

        span {
            font-size: medium;
            font-weight: bold;
            filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
        }
    }

    .chapters-box {
        display: flex;
        flex-flow: row nowrap;
        justify-content: left;
        width: 100%;
        overflow-x: hidden;
        scroll-behavior: smooth;

        div {
            padding-right: 2em;
            display: flex;
            flex-flow: column wrap;
        }

        span {
            font-size: small;
            margin-bottom: 0.2em;
            filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
        }

        img {
            width: 164px;
            height: 92px;
            margin-bottom: 0.5em;
            cursor: pointer;
            border: 2px solid transparent;
            transition: border-color 0.2s ease;
        }

        img:hover {
            border: 2px solid $app-color-darken;
        }

        .chapter-selected {
            border: 2px solid $app-color;
        }
    }
}