$app-color: #8EDCE6;
$app-color-darken: #80c4cd;
$app-color-darker: #71aeb6;
$color-text-primary: #ffffff;
$color-text-default: #d2d2d2e6;
$color-text-dark: #d0d0d0cc;
$color-darker: #101010;
$color-dark: #222222;
$color-default: #282828;
$color-light: #323232;
$color-lighter: #5e5e5e;
$color-more-lighter: #707070;
$color-bright: #EDF2F4;

$font-x-small: calc(0.625 * 1.5vh);  // ≈ 0.9375vh
$font-small: calc(0.812 * 1.5vh);    // ≈ 1.218vh
$font-medium: calc(1 * 1.5vh);       // 1.5vh
$font-large: calc(1.125 * 1.5vh);    // ≈ 1.6875vh
$font-x-large: calc(1.5 * 1.5vh);    // 2.25vh
$font-xx-large: calc(2 * 1.5vh);     // 3vh
$font-xxx-large: calc(2.5 * 1.5vh);  // 3.75vh
$font-xxx-larger: calc(3 * 1.5vh);   // 4.5vh

#root {
  margin: 0 auto;
  text-align: center;

  font-family: 'Verdana', sans-serif;
  background-color: #101010;

  display: flex;
  flex-direction: column;
  height: 100%;

  color: $color-text-default;

  button {
    cursor: pointer;
  }
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
}

.top {
    padding: 2em 3em .7em 3em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    z-index: 10;

    -webkit-app-region: drag;

    #home {
        margin-right: 1em;
        background-color: transparent;
        outline: none;
        border: none;
        filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.724));

        -webkit-app-region: no-drag;

        svg {
            width: 3em;
            height: 3em;
            path {
                fill: $color-text-primary;
            }
        }
    }

    #home:hover {
        transform: scale(1.1);
    }

    .libraries-list {
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        overflow-x: auto;
        gap: 0.2em;

        -webkit-app-region: no-drag;

        button {
            height: fit-content;
            padding: .5em;

            font-size: $font-large;
            font-weight: bold;
            text-transform: uppercase;
            color: white;
            border-radius: 10px;

            opacity: 0.5;
            transition: all .15s ease;

            background-color: transparent;
            outline: none;
            border: none;
            filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.747));
        }

        button:hover {
            opacity: 1;
        }

        button:focus {
            background-color: white;
            color: black;
        }

        .active {
            opacity: 1;
        }
    }

    .right-options {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1em;

        #time {
            color: white;
            font-size: $font-large;
            filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.747));
        }

        #options-btn {
            padding: 0.5em;
            height: 4em;

            -webkit-app-region: no-drag;
            opacity: 0.7;

            transition: all .15s ease;
            
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            outline: none;
            border: none;
            border-radius: 10px;
            filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.861));
            svg {
                width: 2.8em;
                height: 2.8em;

                path {
                    fill: white;
                }
            }
        }

        #options-btn:hover {
            opacity: 1;
            
        }

        #options-btn:focus {
            background-color: white;

            svg path {
                fill: black;
            }
        }
    }
}

.content {
    width: 100%;
    height: 100%;
    padding: 2em 4em 2em 4em;
    overflow-y: auto;
    text-align: left;

    z-index: 10;

    .shows-container {
        display: flex;
        flex-flow: row wrap;
        gap: 1em;

        .shows-button {
            display: flex;
            padding: 0;

            justify-content: center;
            align-items: center;

            border: .3em solid transparent;
        }

        .selected {
            border-color: white;
        }
    }

    .home-container {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        overflow-y: hidden;

        .home-info-container {
            display: flex;
            flex-flow: column nowrap;
            margin-left: 4em;
            margin-bottom: 2em;
            gap: 1em;

            img {
                width: auto;
                max-width: 40vh;
            }

            #home-title {
                font-size: $font-xxx-large;
                font-weight: bold;
                color: $color-text-primary;
                filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.724));
            }

            #home-subtitle {
                font-size: $font-xxx-larger;
                font-weight: bold;
                color: $color-text-primary;
                filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.724));
            }

            #home-overview {
                font-size: $font-x-large;
                color: $color-text-default;

                max-width: 100vh;

                box-sizing: border-box;

                --line-clamp-amount: 3;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden !important;
                text-overflow: ellipsis;
                line-clamp: var(--line-clamp-amount);
                -webkit-line-clamp: var(--line-clamp-amount);
                filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.724));
            }

            .home-info-horizontal {
                display: flex;
                gap: 1em;

                font-size: $font-x-large;
                filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.472));
            }
        }

        .continue-watching-title {
            margin-left: 4em;
            margin-bottom: .5em;

            span {
                font-size: $font-xx-large;
                font-weight: bold;
                color: white;
            }
        }

        .continue-watching-list {
            padding: 1.5em 0;
            padding-left: 4em;
            padding-right: 4em;
            margin-right: 4em;
            display: flex;
            gap: 2em;
            overflow-y: hidden;
            overflow-x: hidden;

            .element {
                border: .3em solid transparent;
                transition: all .15s ease;

                img {
                    height: 35vh;
                    width: auto;
                }
            }

            .element-selected {
                transform: scale(1.1);
                border-color: white;
            }
        }
    }
}

.gradient-left {
    position: absolute;
    left: 0;
    opacity: 0;
    width: 20vw;
    height: 100%;
    z-index: 1;
    filter: brightness(30%);
}

.gradient {
    position: absolute;
    right: 0;
    opacity: 0;
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-size: 100% 100%;
    background-position: 0px 0px;
    filter: brightness(30%);
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    opacity: 0;

    display: flex;
    justify-content: right;

    img {
        min-width: 80%;
        object-fit: cover;
        mask-image:
        linear-gradient(to left, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
    }
}

.background-image-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    opacity: 0;

    display: flex;
    justify-content: right;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.loaded {
    animation: fadeIn 3s forwards;
}

.loadedFull {
    animation: fadeInFull 2.5s forwards;
}

.loaded-blur-in {
    animation: fadeInShort .8s forwards;
}

.loaded-blur-out {
    animation: fadeOutShort .6s forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.8;
    }
}

@keyframes fadeInFull {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fadeInShort {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
@keyframes fadeOutShort {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}